@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a sample application used to develop a paper for EdSigCon2020</p>
<p>This paragraph was added to the branch before merging back to the master.</p>
