@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h2>Distributed team development in the age of pandemic</h2>
        <p>A paper developed for the virtual 2020 EdSigCon.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>EDSIG Conference</h2>
        <p>Information about EdSigCon goes nere.</p>
    </div>
    <div class="col-md-4">
        <h2>GetHub</h2>
        <p>Information about GetHub goes here</p>
    </div>
    <div class="col-md-4">
        <h2>College Classes and Pandemic</h2>
        <p>Infromation about running a senior IS class in the age of pandemic goes here.</p>
    </div>
</div>